{% extends "layout.html" %}

{% block content %}
    <div class="jumbotron">
        <div id="error" class="alert alert-danger alert-dismissible"></div>
            
        <div class="form-group">
            <div class="col-xs-12">
                <input type="text" class="form-control" id="index" placeholder="Enter your index">
            </div>
        </div>
            
        <div class="form-group">
            <div class="col-xs-12">
                <select class="form-control" id="semester">
                    <option value="" selected disabled>Select semester</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
        </div>
            
        <div class="buttons">
            <button id="predictBtn" class="btn btn-default">Submit</button>
        </div>
    </div>
    
    <div id="coursesContent"></div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/static/scripts/main.js"></script>
{% endblock %}