﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.jumbotron {
    margin-top: 50px;
}

.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
.form-control {
    height: 50px;
    font-size: 15px;
}

.row {
    margin: 0px !important;
    padding-left: 60px;
    padding-right: 60px;
}

.col-xs-12 {
    padding: 0px !important;
}

.buttons {
    display: inline-block;
    width: 100%;
    margin-bottom: -20px;
}

#predictBtn {
    width: 100px;
    height: 50px;
    font-size: 15px;
}

#error {
    font-size: 15px;
    text-align:center;
}

.course {
    width: 48%;
    margin: 7px;
    min-height: 260px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.title {
    max-height: 55px;
}
.subtitle {
    display: inline-flex;
    width: 100%;
}

.subtitle h5 {
    width: 50%;    
}

.subtitle :last-child {
    text-align: right;
}